<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">
    <title>Quinta do Mião</title>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <article>
        <div>
            <h3>Sobre nós...</h3><br>
            <p> Situada na Quinta das Rebelas, no concelho do Barreiro (junto ao Mercado Abastecedor), a Quinta do Mião
                –
                Centro de Recolha de Animais Errantes do Barreiro e da Moita é uma obra assumida pelos municípios da
                Moita e
                Barreiro que colaboraram, assim, na criação de instalações mais modernas e adequadas do que as
                existentes
                até agora nos dois concelhos, repartindo as despesas de construção do novo equipamento e partilhando
                recursos.
            </p>

        </div>
    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>


</body>
</html>