<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Quinta do Mião</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Meera+Inimai'>
</head>

<body>
    <header>
        <% include ./header.ejs %>
    </header>

    <article class="container-form">

        <div class="loginSection" style="height: 50%;">

            <form action="/api/user/recoverPassword" method="POST" class="loginForm" name="lgoinform">
                <h2><b>Escolha uma nova palavra-passe</b></h2>
                <ul class="noBullet">
                    <li>
                        <label for="password"></label>
                        <input type="password" class="inputFields" id="password" name="password"
                            placeholder="Palavra-passe nova" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                                  background-repeat: no-repeat;" minlength="8" />
                    </li>
                    <li>
                        <label for="confpassword"></label>
                        <input type="password" class="inputFields" id="confpassword" name="confpassword"
                            placeholder="Confirmar Palavra-passe" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                                    background-repeat: no-repeat;" />
                    </li>
                    <li id="center-btn">
                        <input type="button" id="join-btn" name="join" alt="Join" value="Voltar ">
                        <input type="submit" id="join-btn" name="join" alt="Join" value="Guardar">
                    </li>
                </ul>
            </form>
        </div>
    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>

<script>
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confpassword");
    var date = document.getElementById("bornDate");
    var year = Date.parse(date).year;

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("As palavras-passe não coicidem!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>