<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">
    <title>Quinta do Mião</title>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Editar Perfil</h2>
    <div class="editProfileSection">
        <form action="/api/user/editProfile" method="POST" class="editForm" name="editForm">
            <table class="tableEdit" style="margin-top: 7%;">
                <tr>
                    <td for="name">Nome</td>
                    <td> <input type="text" class="inputFieldsE" id="name" name="name" value=""
                            required style="background-image: url(/images/profil.png); background-position: 224px 7px;
                            background-repeat: no-repeat;"></td>
                </tr>
                <tr>
                    <td for="email">Email</td>
                    <td> <input type="email" class="inputFieldsE" id="email" name="email"
                            value="" required style="background-image: url(/images/at.png); background-position: 224px 7px;
                            background-repeat: no-repeat;"> </td>
                </tr>
                <tr>
                    <td for="bornDate">Data de nascimento</td>
                    <td> <input type="date" class="inputFieldsE" id="bornDate" name="bornDate" 
                            value="" required></td>
                </tr>
                <tr>
                    <td for="address">Morada</td>
                    <td> <input type="text" class="inputFieldsE" id="address" name="address"
                            value="" required style="background-image: url(/images/address.png); background-position: 224px 7px;
                              background-repeat: no-repeat;"></td>
                </tr>
                <tr>
                    <td for="phoneNumber">Nº de telefone</td>
                    <td> <input type="tel" class="inputFieldsE" id="phoneNumber" name="phoneNumber"
                            value="" required style="background-image: url(/images/phone-call.png); background-position: 224px 7px;
                              background-repeat: no-repeat;" minlength="9"></td>
                </tr>
                <tr>
                    <td for="password">Password</td>
                    <td><a href="/api/user/changePassword"> <input type="button" class="btn-editar" name="join" alt="Join" value="Alterar Password"></td></a>
                </tr>
            </table>
            <ul style="list-style-type: none; margin-left: 5%;">
                <li>
                   <input type="button" class="btn-editar" name="join" alt="Join" value="Voltar  ">
                    <input type="submit" class="btn-editar" name="join" alt="Join" value="Guardar">
                </li>
            </ul>
        </form>

        <img style="width: 40%; height: 80%; margin-top: 4%; margin-left: 2%; margin-right: 4%;"
            src="/images/profile.jpg" alt="">
    </div>
    </div>
    <footer>
        <% include ./footer.ejs %>
    </footer>

</body>

</html>

