<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  <title>Quinta do Mião</title>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Meera+Inimai'>
</head>

<body>
  <header>
    <% include ./header.ejs %>
  </header>

  <article class="container-form">

    <div class="signupSection">
      <form action="/api/user/register" method="POST" class="signupForm" name="signupform">
        <h2><b>Efetue o seu registo</b></h2>
        <ul class="noBullet">
          <li>
            <label for="name"></label>
            <input type="text" class="inputFields" id="name" name="name" placeholder="Nome" value="" required style="background-image: url(/images/profil.png); background-position: 224px 7px;
              background-repeat: no-repeat;" />
          </li>
          <li>
            <label for="email"></label>
            <input type="email" class="inputFields" id="email" name="email" placeholder="Email" value="" required style="background-image: url(/images/at.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
          </li>
          <li>
            <label for="bornDate"></label>
            <input type="date" class="inputFields" id="bornDate" name="bornDate" placeholder="Data de Nascimento"
              value="" required />
          </li>
          <li>
            <label for="address"></label>
            <input type="text" class="inputFields" id="address" name="address" placeholder="Morada" value="" required
              style="background-image: url(/images/address.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
          </li>
          <li>
            <label for="phoneNumber"></label>
            <input type="tel" class="inputFields" id="phoneNumber" name="phoneNumber" placeholder="Telefone" value=""
              required style="background-image: url(/images/phone-call.png); background-position: 224px 7px;
                background-repeat: no-repeat;" minlength="9" />
          </li>
          <li>
            <label for="password"></label>
            <input type="password" class="inputFields" id="password" name="password" placeholder="Palavra-passe"
              value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
              background-repeat: no-repeat;" minlength="8"/>
          </li>
          <li>
            <label for="confpassword"></label>
            <input type="password" class="inputFields" id="confpassword" name="confpassword"
              placeholder="Confirmar Palavra-passe" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
          </li>
          <li id="center-btn">
              <a href="/homepage"><input type="button" id="join-btn" name="join" alt="Join" value="Voltar"></a>
            <input type="submit" id="join-btn" name="join" alt="Join" value="Registar">
          </li>
        </ul>
      </form>
    </div>
  </article>
  <footer>
    <% include ./footer.ejs %>
  </footer>
</body>

</html>

<script>
  var password = document.getElementById("password");
  var confirm_password = document.getElementById("confpassword");
  var date = document.getElementById("bornDate");
  var year = Date.parse(date).year;

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("As palavras-passe não coicidem!");
    } else {
      confirm_password.setCustomValidity('');
    }
  }
  /*
    function validateAge() {
      if (year > 2001) {
        confirm_password.setCustomValidity("É necessário ter mais de 18 anos.");
      } else {
        confirm_password.setCustomValidity('');
      }
    }*/

  /*&& password.match(/[a-z]/g) && password.match(/[A-Z]/g) && password.match(/[0-9]/g) && password.match(/[^a-zA-Z\d]/g) && password.length >= 8*/

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>