<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Quinta do Mião</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Meera+Inimai'>
</head>

<body>
    <header>
        <% include ./header.ejs %>
    </header>

    <article class="container-form">
        <div class="loginSection" style="height: 32%; display: inline-table;">
            <div style="display: block;">
                <h2><b>Recuperar palavra-passe</b></h2>
                <div class="informationSection">
                    <h4>Foi lhe enviado um email, para poder recuperar a sua palavra-passe.</h4>
                </div>
            </div>
            <a href="/auth/homepage"><input type="button" class="join-btn" name="join" alt="Join" value="Sair  "></a>
        </div>
      
    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>