<nav class="navbar">
    <div class="container" id="idcontainer" style="margin-bottom: 5%;">
        <div class="navbar-title-auth">
            <img src="/images/dog.png" alt="dog"><a class="title" href="/homepage"> <b>Quinta do Mião</b></a>
    </div>
        <ul class="navbar-right">
            <li><a href="/auth/register"><span class="registar"></span> Registar</a></li>
            <li><a href="/auth/login"><span class="autenticar"></span> Autenticar</a></li>
        </ul>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <img src="/images/menu.png" alt="">
        </a>
    </div>
</nav>

<script>
    function myFunction() {
        var x = document.getElementById("idcontainer");
        if (x.className === "container") {
            x.className += " responsive";
        } else {
            x.className = "container";
        }
    }
</script>