<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">
    <title>Quinta do Mião</title>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Perfil</h2>
    <div class="profileSection">
        <div style="margin-left: 7%; margin-top: 7%; align-content: center; width: 70%;">
            <h3>Nome e Apelido</h3>
            <ul class="propertiesUl">
                <li><%= email %></li>
                <li><%= phoneNumber %></li>
                <li><%= age %></li>
                <li>Sem cargo</li>
            </ul>
            <a href="/auth/homepageAuth"> <input type="button" class="btn-editar" name="join" alt="Join" value="Voltar  "></a>
            <a href="/user/editProfile"> <button class="btn-editar" style="align-content: center;">Editar Perfil</button></a> 
        </div>
        <img src="/images/profile.jpg" alt="">
    </div>
    <footer>
        <% include ./footer.ejs %>
    </footer>


</body>

</html>